- var block1 = ["VỀ CHÚNG TÔI","GIAO HÀNG","CAM KẾT","LƯU TRỮ","CHÍNH SÁCH RIÊNG TƯ"]
- var block2 = ["VẬN CHUYỂN TRẢ HÀNG","MUA HÀNG AN TOÀN","VẬN QUỐC TẾ","LIÊN KẾT","DỊCH VỤ GIẢM GIÁ"]
.footer
    .footer__baner
        .container
            .img-banner
                 img.img-banner__img.img-fluid.img-thumbnail(src="./images/banner_footer.png", alt="banner footer")
    .footer__nav
        .container
            .row
                .col-12.col-xs-12.col-sm-12.col-md-6.col-lg-2
                    ul.container__block1
                        h2 THÔNG TIN
                            - for(var i = 0 ; i < block1.length; i++)
                                li.item  
                                    a.list-infor(href="#")= block1[i]
                .col-12.col-xs-12.col-sm-12.col-md-6.col-lg-2    
                    ul.container__block2
                        h2 MUA HÀNG
                            - for(var i = 0 ; i < block2.length; i++)
                                li.item  
                                    a(href="#")= block2[i]
                .col-xs-12.col-sm-12.col-md-6.col-lg-4  
                    .container__block3
                        h2 GỬI EMAIL
                        p Gửi mail cho chúng tôi để được hổ trợ 
                        form.form-inline.my-2.my-lg-0.form-block3
                            input.form-block3__input(type="text" placeholder="Enter your email..")
                            img.send(src="./images/send.png", alt="send")
                        br
                        .icon
                            span.fab.fa-twitter.icon__fb
                            span.fab.fa-google-plus-g.icon__fb
                            span.fas.fa-globe.icon__fb
                            span.fab.fa-linkedin-in.icon__fb 
                            span.fa.fa-wifi.icon__fb
                .col-xs-12.col-sm-12.col-md-6.col-lg-4
                    .container__block4
                        h2  LIÊN HỆ
                        img.block4-span(src="./images/location.png", alt="icon marker")
                        span.container__block4__span &nbsp; Tầng 4 tòa nhà Hà Nội Group , số 442 Đội Cấn <br>&nbsp;&nbsp;&nbsp;&nbsp; P Cống Vị , Quận Ba Đình , Hà Nội

                        br
                        img.container__block4__span.container__block4__span-2(src="./images/fax.png", alt="fax")
                        span.container__block4__span &nbsp;&nbsp;(04) 6680 2332 - &nbsp;
                        img.container__block4__span.container__block4__span-2(src="./images/fax.png", alt="fax")
                        span.container__block4__span &nbsp;&nbsp;(04) 6680 2332 
                        br
                        img.container__block4__span(src="./images/fax.png", alt="fax")
                        span.container__block4__span &nbsp;&nbsp;(04) 6680 2332 &nbsp;
                        span.container__block4__span.fas.fa-envelope
                        i.container__block4__span &nbsp; Support@gmail.com
    .footer__contact
        .container
            .row
                .col-xs-7.col-sm-7.col-md-8.col-lg-9
                    .footer__contact__copy
                        h4 &#169;Copyright 2008-2014 DKT Technology JSC
                .col-xs-5.col-sm-5.col-md-4.col-lg-3
                    .footer__contact__icon
                        i.fab.fa-cc-mastercard.icon_end
                        i.fab.fa-cc-visa.icon_end
                        i.fab.fa-cc-paypal.icon_end
                        i.fab.fa-cc-mastercard.icon_end