
nav.navbar.navbar-expand-lg.navbar-light.sub-menu
   .container
      .collapse.navbar-collapse#navbarTogglerDemo02
         ul.navbar-nav.mr-auto.mt-2.mt-lg-0.nav-sub-menu
            -var list_menu_sub  = ["Tài khoản của tôi","- Trạng thái đơn hàng","- Danh mục ưu thích","- Đơn hàng","- Đăng ký","- Đăng nhập"]
                  -for( var i = 0 ; i< list_menu_sub.length ; i++ )
                     li.nav-item.list-sub
                        a.nav-link.text-dark.nav-item__sub.list-sub__a(href="#")= list_menu_sub[i]
         form.form-inline.my-2.my-lg-0.nav-sub-form
            input.nav-sub-form__input(type="text" placeholder="Tìm kiếm ở đây")
            button.nav-sub-form__button(type="submit")
               a.nav-sub-form__button__a.fa.fa-search(href="#")
         .node-sub
            i.fa.fa-bars.node-sub__slide(aria-hidden="true")
nav.navbar.navbar-expand-lg.navbar-light.main-menu
   .container
      .container__logo
         img(src="./images/logo.png" alt="logo")
      .container__main-menu.collapse.navbar-collapse#navbarTogglerDemo02
         ul.navbar-nav.mr-auto.mt-2.mt-lg-0.nav-main-menu
            -var list_menu = ["TRANG CHỦ","RƯỢU VANG ĐỎ","VANG TRẮNG","CHAMGANGE","THÔNG TIN","BLOG","LIÊN HỆ"]
               -for(var i =0 ; i<list_menu.length; i++)
                  li.nav-item.list
                     a.nav-link.text-light.nav-item__main(href="#")= list_menu[i]
      .container__click
         i.fa.fa-bars#slide(aria-hidden="true")

